<div>
  <div class="row justify-content-center" style="margin-top: 20px">
    <div class="col-sm-6">
      <div class="card bg-light">
        <div class="card-header">
          Sign Up
        </div>
        <div class="card-body">
          <form [formGroup]="signupForm" novalidate>
            <input formControlName="username" type="text" class="form-control">
            <small class="form-text text-muted"><i *ngIf="username.valid" class="fa fa-check-circle-o text-success" aria-hidden="true"></i> Must be valid email</small>
            <input formControlName="password" type="password" class="form-control">
            <small class="form-text text-muted"><i *ngIf="password.valid" class="fa fa-check-circle-o text-success" aria-hidden="true"></i> 6~10 characters</small>
            <button class="btn btn-info" (click)="onSignup()" [disabled]="!signupForm.valid" style="margin-top: 10px">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>